html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

/* SIGN-OFF --------------------------------------------*/

/*designed by & contact*/
#contact-section {
  color: black;
  text-align: center;
  min-height: 33vh;
  font-size: 14px;
}

.contact-links {
  height: auto;
  width: 25%;
  display: inline-block;
  padding: 20px;
}

.link-cont {
  float: left;
  width: 25%;
}

.contact-img {
  height: 50px;
  width: 50px;
}

#git-logo {
  height: 50px;
  width: 75px;
}

@media only screen and (max-width: 600px) {
  .contact-links {width: 100%;}
  #contact-title {font-size: 24px;}
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .contact-links {width: 100%;}
}